.card {
  background-color: rgb(94, 93, 93);
  padding: 0.5rem;
  height: auto;
  border-radius: 15px;
  /* color: rgb(230, 233, 37) */
}

.containerCard {
  display: flex;
  flex-direction: column;
  border: solid 3px grey;
  justify-content:space-around;
  align-items: center;
  border-radius: 15px;
}

.wrapperChip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.chip {
  width: 50px;
  height: auto;
  background-color: #fff;
  padding: 3px;
  border-radius: 10px;
  border: solid 1px #fff;
  font-size: 70%;
  text-align: center;
}

.wrapperText {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 15px;
  font-size: 80%;
}

.wrapperButton {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 80%;
  justify-content: center;
  gap: 5px;
}

.buttonStyle {
  width: 50%;
  height: auto;
  color: #444;
  padding: 3px;
  border-radius: 5px;
  border: solid 1px #fff;
  font-size: 80%;
  text-align: center;
}